img {
    width: 150px;
    height: 235px;
    padding: 20px;
}

div {
    display: flex;
    justify-content: flex-start;
    padding: 5px;
}

h1 {
    text-align: center;
    text-shadow: 2px 2px #00FFFF;
}

.img {
    display: flex;
    justify-content: space-around;
    border: 10px #0C0201;
    border-style: ridge;
}

.idk {
    width: 150px;
    height: 100px;
}

.AB {
    font-family: 'PT Sans', sans-serif;
    border: 8px solid black;
    background-color: lightblue;
}

.H {
    font-family: 'PT Sans', sans-serif;
    border: 8px solid black;
    background-color: lightgreen;
}

.M {
    font-family: 'PT Sans', sans-serif;
    border: 8px solid black;
    background-color: lightpink;
}

h2 {
    text-align: center;
}

p {
    text-align: center;
    font-family: 'East Sea Dokdo', cursive;
    border: 8px solid black;
    background-color: #FFFF99;
}

body {
    background-image: linear-gradient(#46CAAF, #FFFFAD, #F3C0E5, #D7BFF2, #BFECF2);
}